@import url('https://fonts.googleapis.com/css?family=Cabin');

$colors: (
    darkBlue: #006595,
    lightBlue: #25aae1,
    darkGray: #858585,
    lightGray: #f8f8f8,
    black: #000000,
    brown: #695e4a,
    green: #5ab44b,
    white: #ffffff
);

@media screen and (max-width: 500px) {
    margin-left:auto;
    margin-right:auto;
};

@media screen and (min-width: 501px) {
    body {
    margin-left:auto;
    margin-right:auto;
    }
};

html,
body {
    height: 100%;
    margin:0;
}

body {
    font-family: "Cabin", arial, sans-serif;
};

hr {
    box-shadow: #000000;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr 2fr;
    grid-gap: 1rem;
}

.nav {
    order: 1;
    grid-column:1 / span 7;
    grid-row: 1 / span 1;
    object-fit: fill;
    display: block;
    justify-self: center;
}

.zipCodeSearch {
    order: 3;
    background-color: map-get($colors, lightGray);
    object-fit: contain;
    grid-column:2 / span 4;
    grid-row: 3 / span 1;
    padding: 2rem;
}

.hero,
.zipCodeSearch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 70;
}

.hero {
    order: 2;
    grid-column:2 / span 4;
    grid-row: 2 / span 1;
}
#heroImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  padding: 3px;
}

#zipCodeSubmit {
    background-color: map-get($colors,green);
    border: none;
    color: map-get($colors, white);
    padding: 1em;
}

#zipCodeField {
    padding: 1em;
}