@import url('https://fonts.googleapis.com/css?family=Cabin');

$colors: (
    darkBlue: #006595,
    lightBlue: #25aae1,
    darkGray: #858585,
    lightGray: #f8f8f8,
    black: #000000,
    brown: #695e4a,
    green: #5ab44b,
    white: #ffffff
);

@media screen and (max-width: 500px) {
    margin-left:auto;
    margin-right:auto;
};

@media screen and (min-width: 501px) {
    body {
    margin-left:auto;
    margin-right:auto;
    }
};

@media screen and (min-width: 950px) {
    .zipCode {

        margin-left: auto;
        margin-right: auto;
    };
}

html,
body {
    height: 100%;
    margin:0;
}

body {
    font-family: "Cabin", arial, sans-serif;
};

hr {
    box-shadow: #000000;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr 2fr;
    grid-gap: 1rem;
}

.hero{
    justify-self: center;
}
.navBar {
    max-width: 100%;
    display: block;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
}
.zipCode {
    background-color: map-get($colors, lightGray);

}

#hero {
    height: auto;
    max-width: 100%;
}