@import url("https://fonts.googleapis.com/css?family=Cabin");
div.filter [type='range'] {
  margin: 0;
  padding: 0;
  width: 12.5em;
  height: 1.5em;
  background: transparent;
  font: 1em/1 arial, sans-serif;
}

div.filter [type='range'], div.filter [type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

div.filter [type='range']::-webkit-slider-runnable-track {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  width: 12.5em;
  height: 0.25em;
  background: #ccc;
}

div.filter [type='range']::-moz-range-track {
  box-sizing: border-box;
  border: none;
  width: 12.5em;
  height: 0.25em;
  background: #ccc;
}

div.filter [type='range']::-moz-focus-outer {
  border: 0;
}

div.filter [type='range']::-ms-track {
  box-sizing: border-box;
  border: none;
  width: 12.5em;
  height: 0.25em;
  background: #ccc;
}

div.filter [type='range']::-webkit-slider-thumb {
  margin-top: -0.625em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  width: 0.5em;
  height: 1.5em;
  background: #25aae1;
}

div.filter [type='range']::-moz-range-thumb {
  box-sizing: border-box;
  border: none;
  width: 0.5em;
  height: 1.5em;
  background: #25aae1;
}

div.filter [type='range']::-ms-thumb {
  margin-top: 0;
  box-sizing: border-box;
  border: none;
  width: 0.5em;
  height: 1.5em;
  background: #25aae1;
}

div.filter [type='range']::-ms-tooltip {
  display: none;
}

/*
@media screen and (max-width: 500px) {
    margin-left:auto;
    margin-right:auto;
};


@media screen and (min-width: 501px) {
    body {
    margin-left:auto;
    margin-right:auto;
    }
};
*/
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Cabin", arial, sans-serif;
}

hr {
  -webkit-box-shadow: #000000;
          box-shadow: #000000;
}

.container {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 3fr 1fr 2fr;
      grid-template-rows: 1fr 3fr 1fr 2fr;
  grid-gap: 1rem;
}

.subContainer {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / span 4;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / span 1;
  padding-bottom: 2em;
}

.nav {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1 / span 7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  -o-object-fit: fill;
     object-fit: fill;
  display: block;
  -ms-grid-column-align: center;
      justify-self: center;
}

.zipCodeSearch {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  background-color: #f8f8f8;
  -o-object-fit: contain;
     object-fit: contain;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / span 4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / span 1;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.zipCodeSearch [type="text"] {
  width: 40%;
}

.zipCodeSearch [type="button"] {
  width: 20%;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 0;
}

.filter {
  padding: 2rem;
  background-color: #5ab44b;
}

.results {
  background-color: #006595;
}

.hero {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / span 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
}

.slider {
  width: 100%;
  height: 25px;
  outline: none;
}

#heroImage {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 0;
  margin-bottom: 0;
}

#zipCodeSubmit {
  background-color: #5ab44b;
  border: none;
  color: #ffffff;
  padding: 1em;
  border-radius: 5px;
  -webkit-margin-start: 30%;
          margin-inline-start: 30%;
}

#zipCodeField {
  padding: 1em;
}

label {
  display: block;
}
/*# sourceMappingURL=main.css.map */