/* ----- FONTS ----- */
@import url("https://fonts.googleapis.com/css?family=Cabin:regular,bold");
/* ----- VARIABLES ----- */
/* ----- MIXINS ----- */
/* ----- MEDIA QUERIES ----- */
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 857px) {
  .doctorImage {
    display: block;
  }
  .hero {
    min-width: 100px;
  }
  .subContainer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    margin: 0;
    padding: 0;
  }
  .filter {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: block;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/span 1;
    padding-left: 1rem;
    width: 140%;
  }
  .locators {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    display: block;
  }
  .results {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: block;
    min-width: 100%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/span 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/span 1;
  }
  .profileInfo {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

/* ----- ELEMENTS ----- */
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #25aae1;
}

body {
  font-family: 'Cabin', sans-serif;
}

[type="range"] {
  margin: 0;
  padding: 0;
  height: 1.75em;
  background: transparent;
  width: 100%;
}

[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

[type="range"]::-webkit-slider-runnable-track {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  height: 0.5em;
  background: #ccc;
}

[type="range"]::-moz-range-track {
  box-sizing: border-box;
  border: none;
  height: 0.5em;
  background: #ccc;
}

[type="range"]::-moz-focus-outer {
  border: 0;
}

[type="range"]::-ms-track {
  box-sizing: border-box;
  border: none;
  height: 0.5em;
  background: #ccc;
}

[type="range"]::-moz-range-thumb {
  box-sizing: border-box;
  border: none;
  width: 0.75em;
  height: 1.75em;
  background: #25aae1;
}

[type="range"]::-ms-tooltip {
  display: none;
}

[type="range"]::-ms-thumb {
  margin-top: 0;
  box-sizing: border-box;
  border: none;
  width: 0.75em;
  height: 1.75em;
  background: #25aae1;
}

[type="range"]::-webkit-slider-thumb {
  margin-top: -0.625em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  width: 0.75em;
  height: 1.75em;
  background: #25aae1;
}

embed {
  max-height: 150px;
  max-width: 150px;
}

form {
  font-size: 16px;
  color: #25aae1;
}

html,
body {
  height: 100%;
  margin: 0;
}

hr {
  background-color: #f2f7fa;
  height: 2px;
  display: block;
  border: none;
  width: 100%;
}

li {
  display: inline-block;
  margin: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
  display: inline-block;
}

/* ----- CLASSES ----- */
.container {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 3fr 1fr 2fr;
      grid-template-rows: 1fr 3fr 1fr 2fr;
}

.distanceToLocation {
  font-size: 12px;
  color: #000000;
}

.doctorCard {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.doctorImage {
  max-width: 100px;
  padding-right: 1rem;
}

.doctorImages {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/ span 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 /span 1;
}

.doctorList {
  width: 100%;
}

.doctors {
  padding-bottom: 1rem;
}

.filter {
  padding: 2rem;
  min-width: 136px;
}

.filterText {
  font-size: 20px;
  color: #006595;
  margin-top: 0;
  padding-bottom: 0.5em;
  margin-bottom: 0;
}

.fullName {
  padding-left: 1rem;
  font-size: 20px;
  color: #25aae1;
  list-style-type: none;
  display: inline-block;
  padding-right: 1rem;
}

.hero {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / span 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
  background: no-repeat center url("../assets/hospital.png");
  margin-top: 1rem;
  min-height: 300px;
  min-width: 233px;
}

.locators {
  font-size: 16px;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/ span 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 /span 1;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.miles {
  padding-top: 0;
  margin-top: 0;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100.5%;
  padding-left: 0;
  list-style-type: none;
  font-size: 12px;
  color: #858585;
}

.nav {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1 / span 7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  display: block;
  -ms-grid-column-align: center;
      justify-self: center;
}

.navBar {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.profileInfo {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  padding-right: 1rem;
  padding-left: 1rem;
}

.results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 3rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider {
  width: 100%;
}

.specialties {
  font-size: 20px;
  display: block;
  padding-left: 1rem;
  padding-bottom: 0;
}

.subContainer {
  visibility: hidden;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / span 4;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / span 1;
  padding-bottom: 2em;
  min-width: 230px;
}

.zipCodeSearch {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  background-color: #f8f8f8;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / span 4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / span 1;
  padding: 1rem 1rem 2rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  min-width: 200px;
}

.zipCodeSearch [type="text"] {
  width: 40%;
}

.zipCodeSearch [type="button"] {
  width: 20%;
}

.zipFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

/* ----- IDs ----- */
#distanceFromZip {
  font-size: 12px;
  color: #000000;
}

#filterBreak {
  margin-top: 2rem;
}

#gender {
  padding-top: 1.5rem;
}

#heroImage {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 0;
  margin-bottom: 0;
}

#navBreak {
  -webkit-box-shadow: 0 2px 3px #f2f7fa;
          box-shadow: 0 2px 3px #f2f7fa;
}

#resultAmount {
  font-size: 22px;
  color: #858585;
}

#resultAmountText {
  font-size: 22px;
  color: #858585;
}

#zipCodeField {
  padding: 1em;
}

#zipCodeLabel {
  display: block;
  font-size: 17px;
  color: #695e4a;
  padding-bottom: 0.5em;
}

#zipCodeSubmit {
  background-color: #5ab44b;
  border: none;
  color: #ffffff;
  padding: 0.75rem;
  border-radius: 5px;
  font-size: 18px;
  min-width: 85px;
}
/*# sourceMappingURL=main.css.map */